<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace路径根据自己而定 -->
<mapper namespace="com.xiaoyuan.usermanager.db.mapper.UserMapper">

    <!-- 查询用户列表（带多条件） -->
    <select id="findUserList" resultType="com.xiaoyuan.usermanager.db.entity.User">
        select *
        from user
        <where>
            1 = 1
            <if test="queryParam != null">
                <if test="queryParam.username != null and queryParam.username != ''">
                    and username = #{queryParam.username}
                </if>
                <if test="queryParam.typename != null and queryParam.typename != ''">
                    and typename like CONCAT(#{queryParam.typename}, '%')
                </if>
                <if test="queryParam.longitude != null and queryParam.longitude != ''">
                    and longitude = #{queryParam.longitude}
                </if>
                <if test="queryParam.finalOption != null and queryParam.finalOption != ''">
                    and finalOption = #{queryParam.finalOption}
                </if>
                <if test="queryParam.time != null and queryParam.time != ''">
                    and DATE_FORMAT(gmt_create,'%Y-%m-%d') = #{queryParam.time}
                </if>
            </if>
        </where>
    </select>
</mapper>